{% extends 'Charity/base.html' %}
{% load humanize %}

{% block title %}Causes{% endblock %}

{% block content %}

<section class="bg-white">
    <div class="container px-6 py-10 mx-auto">
        <div class="text-center">
            <p class="text-emerald-500 text-lg mb-4">Our Causes</p>
            <h1 class="text-4xl md:text-5xl font-bold text-navy-900 mb-2">We Are On A Mission To</h1>
            <h2 class="text-4xl md:text-5xl font-bold text-navy-900">Help The Helpless</h2>
        </div>
    </div>
</section>

<section class="bg-gray-100 p-8 mt-4">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">

            {% for cause in causes %}
        
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <img src="{{ cause.image.url }}" alt="{{ cause.name }}"  class="w-full h-48 object-cover"/>
                <div class="p-6">
                    <h3 class="text-xl font-bold text-navy-900 mb-4">{{ cause.description }}</h3>

                    <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4">
                        <div class="bg-emerald-500 h-2.5 rounded-full" style="width: {{ cause.progress_percentage }}%;"></div>
                    </div>

                    <p class="text-sm mt-1">{{ cause.progress_percentage|floatformat:2 }}% raised</p>
                    <div class="flex justify-between text-sm">
                        <span>Raised: <strong class="text-navy-900">${{ cause.raised_amount|intcomma }}</strong></span>
                        <span>Goal: <strong class="text-navy-900">${{ cause.goal_amount|intcomma }}</strong></span>
                    </div>
                    <a href="{% url 'donate' %}?cause={{ cause.id }}" class="bg-gray-700 text-white px-4 py-2 mt-4 rounded block w-full flex justify-center hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Donate</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}
